.login-main-div
{
    height: 45rem;
    width: 100%;
    background-image: radial-gradient(circle, #0e3fc5, #194dc9, #265acc, #3466ce, #4372cf, #5971cd, #6a71cb, #7970c9, #9260bd, #a84cab, #ba3493, #c50e76);
    /* background-image: url("./images/cool-background.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed; */
}
.login-form-div
{
    position: relative;
    z-index: 1;
    padding-top: 8rem;
    text-align: center;
}
.login-form-div h1
{
    margin-bottom: 20px;
}
.login-form-div h2
{
    color: rgb(206, 206, 206);
}
.login-form-div p
{
    color: rgb(197, 197, 197);
}
.login-form-div p a
{
    color: #fff;
}
.login-form-div form p
{
    margin: 0;
    font-size: 10px;
    height: 0;
}
.login-form-div form input
{
    margin: 0;
}
.login-form-div form h6
{
    display: inline-flex;
    color: #fff;
}
.login-form-div h3
{
    font-size: 1.2rem;
    color: darkred !important;
}