.div-Intro-1
{
    text-align: center;
    height: 38rem;
    padding-top: 10rem;
    background-image: linear-gradient(to right bottom,#212121,#0d7477cc,#14ffeb3f),url("./images/image1.jpg");
    clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: background-image 400ms ease-in-out;
    animation: image-change 30s infinite;
    animation-timing-function: linear;
}
@keyframes image-change
{
    0%
    {
        background-image: linear-gradient(to right bottom,#212121,#0d7477cc,#14ffeb3f),url("./images/image1.jpg");
    }
    25%
    {
        background-image: linear-gradient(to right bottom,#212121,#0d7477cc,#14ffeb3f),url("./images/image2.jpg");
    }
    50%
    {

        background-image: linear-gradient(to right bottom,#212121,#0d7477cc,#14ffeb3f),url("./images/image3.jpg");
    }
    75%
    {
        background-image: linear-gradient(to right bottom,#212121,#0d7477cc,#14ffeb3f),url("./images/image4.jpg");
    }
    100%
    {
        background-image: linear-gradient(to right bottom,#212121,#0d7477cc,#14ffeb3f),url("./images/image1.jpg");
    }
}
.div-intro-2 h1
{
    position: relative;
    font-size:4rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    z-index: 0;
    animation-name: example; 
    animation-duration: 2s;
    font-weight: 300;
}
.div-intro-2 h6
{
    position: relative;
    font-size:2rem;
    color: #fff;
    left: 0; 
    right: 0;
    top:50%;
    animation-name: example2; 
    animation-duration: 2s;
}
@keyframes example
{
    0%{
        opacity: 0;
        top:10rem;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}
@keyframes example2
{
    0%{
        top: -10rem;
        opacity: 0;
    }
    100%{
        top:0;
        opacity: 1;
    }
}
.button-1
{
    width: 12rem;
    height: 4rem;
    font-size: xx-large;
    border-radius: 20px;
    color: #fff !important;
    margin: 2rem auto;
    top: 60%;
    background:transparent;
    animation-name: example3; 
    animation-duration: 4s;
}
.button-1:hover
{
    background-color:rgba(255, 255, 255, 0.445);
    width: 14rem;
    transition: all .4s; 
}
@keyframes example3
{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media only screen and (max-width: 900px) {
    .div-intro-2 h1
    {
        font-size:2rem;
    }
    .div-intro-2 h6
    {
        font-size:1rem;
    }
    .button-1
    {
        width: 10rem;
        height: 3rem;
        font-size: x-large;
    }
    .button-1:hover
    {
        background-color:rgba(255, 255, 255, 0.445);
        width: 12rem;
        transition: all .4s; 
    }
}
.intro-brandname
{
    margin: 0;
    padding: 0;
    font-size: 4rem;
    color: #fff !important;
    padding-top: 2rem;
    font-family: 'Dancing Script', cursive;
}