.patch-note-div-details
{
    text-align: center;
    padding-bottom: 5rem;
}
.patch-note-detail
{
    text-align: left;
}
.patch-note-div-details h1
{
    text-shadow: none;
    color: black;
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 2rem;
}