.features
{
    text-align: center;
    padding: 3rem 2rem;
    /* background-image: linear-gradient(to bottom, #ff48fa,#78e4ff); */

}
.fasicon1
{
    font-size: 3rem;
    color: #16c79a;
}
.fasicon2
{
    font-size: 3rem;
    color: #23689b;
}
.fasicon3
{
    font-size: 3rem;
    color: #91091e;
}
