
.body-div p
{
    color: black;
    padding-left: 10%;
    margin-bottom: 3px;
}
.gap p
{
    margin-top: 3rem;
}
.major
{
    font-weight: 600;
}
@media screen and (max-width: 992px) {
    .body-div p
    {
        font-size: .8rem;
    }
}